rofi.color-enabled:                  true
! Color scheme for normal row
! rofi.color-normal:                   argb:ffffff00,  #D8DEE9 , argb:ffffff00,  #FAC863 ,  #1B2B34
! Color scheme for urgent row
! rofi.color-urgent:                   argb:ffffff00,  #F99157 , argb:ffffff00,  #F99157 ,  #1B2B34
! Color scheme for active row
! rofi.color-active:                   argb:ffffff00,  #6699CC , argb:ffffff00,  #6699CC ,  #1B2B34
! Color scheme window
! rofi.color-window:                   argb:ee222222,  #FAC863 ,  #FAC863
! Separator style (none, dash, solid)
rofi.separator-style:                solid

rofi.color-window: #ffffff, #ffffff, #ffffff 
rofi.color-normal: #ffffff, #87CEFA, #ffffff, #87CEFA, #ffffff 
rofi.color-active: #ffffff, #87CEFA, #ffffff, #87CEFA, #ffffff 
rofi.color-urgent: #ffffff, #87CEFA, #ffffff, #87CEFA, #ffffff 




! rofi.show-icons: true 
! rofi.modi: window,run,ssh,drun

